body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-wrap: wrap;
    padding: 25px 200px 50px 200px;
}

h2 {
    font-size: 24px;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
}

.links {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font: 18px;
    color: #E5E7EB;
}

.img {
    align-items: center;
    padding-top: 30px;
}

.top-text {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.top-text button {
    font-size: larger;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #3882F6;
    color: white;
}

.info {
    padding-bottom: 100px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-basis: 100%;
}

.tiles {
    display: flex;
    justify-content: space-evenly;
}

.text {
    display: flex;
    width: 150px;
    text-align: center;
}

.quote-section {
    padding: 100px 350px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    flex-grow: 1;
}

.quote-author {
    display: flex;
    justify-content: end;
    font-weight: bolder;
    font-size: 24px;
}

.signup-field {
    padding: 100px 350px
}

.signup-area {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
}

.signup-text {
    display: flex;
    flex-direction: column;
}


.signup-area button {
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    font-weight: bolder;
    font-size: medium;
    height: 30px;
}

.bold {
    font-size: larger;
    font-weight: bold;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}